VITE_SUPABASE_URL=https://vjrofgfzymtibjoteaqd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqcm9mZ2Z6eW10aWJqb3RlYXFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2MDAwMzMsImV4cCI6MjA5NjE3NjAzM30.5VDQjzAIgCmL1HynscsthdSo-im0VsohQNYrwX8nTyo
